<%= content_for :head do %>
  <style>
    .wrapper {
      padding: 0;
    }
  </style>
<% end %>
<%= content_for :body_class do %>
  imageBackground
<% end %>
<div class="signIn">
  <div class="biteImage">
    <%= link_to about_path do %>
      <%= image_tag 'bite_image3.png' %>
    <% end %>
  </div>
  <div class="biteLogo">
    <%= link_to about_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div class="intro">
    <h1>Never eat alone</h1>
    <h2>How it works</h2>
    <ol>
      <li>Start a table and others will join</li>
      <li>Join tables of other people</li>
      <li>Everyone will be notified when table is ready</li>
    </ol>
  </div>
  <%= render partial: 'shared/facebook_auth' %>
</div>