<!DOCTYPE html>
<html lang="en">
<head>
<title>Bite: Your Table is Ready</title>
<style>
#email {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(207, 4, 4);
  border-collapse: collapse;
  color: rgb(40, 40, 40);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0 auto;
  width: 600px;
}
#email table {
  border-collapse: collapse;
}
#header {
  background: rgb(207, 4, 4);
}
#header a {
  display: block;
  height: 24px;
  padding: 15px 20px;
}
#header img {
  max-height: 24px;
  max-width: 60px;
  vertical-align: bottom;
}
#content, #attending {
  width: 100%;
}
#content td {
  padding: 10px 20px 0 20px;
}
#content #yourTableReady {
  padding-top: 20px;
}
#content a {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}
#content a img {
  margin: 20px 0;
  max-width: 213px;
  vertical-align: bottom;
}
#content #peopleAttending {
  padding: 10px 20px;
}
#attending td {
  padding-bottom: 10px;
}
#seatUserPhoto {
  padding-left: 20px;
  width: 38px;
}
#seatUserPhoto div {
  overflow: hidden;
  width: 38px;
}
#seatUserPhoto img {
  max-height: 38px;
  vertical-align: bottom;
}
#seatUserName {
  line-height: 38px;
  padding-left: 10px;
  padding-right: 20px;
}
#bottomContent td {
  padding: 20px;
}
#biteSubscribe {
  margin: 0 auto;
  width: 600px;
}
#biteSubscribe td {
  padding: 20px;
}
</style>
</head>
<body>
  <table id="email">
    <tr id="header">
      <td>
        <%= link_to @root_url, target: '_blank' do %>
          <%= image_tag 'http://s3.amazonaws.com/abiteapp/assets/images/logo.png', alt: '' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <table id="content">
          <tr>
            <td id="yourTableReady">
              Your table at <%= @table.place.name %> is filled and ready to go.
            </td>
          </tr>
          <tr>
            <td>
              Click the link below to view and send messages 
              to the people sitting at your table:
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to @room_url, target: '_blank' do %>
                <% image_tag 'http://s3.amazonaws.com/abiteapp/assets/images/view_table_message_room.jpg', alt: '' %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td id="peopleAttending">
              People attending:
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table id="attending">
          <% @seats.each do |seat| %>
            <tr>
              <td id="seatUserPhoto">
                <div>
                  <%= image_tag seat.user.photo, alt: '' %>
                </div>
              </td>
              <td id="seatUserName">
                <%= seat.user.name %>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table id="bottomContent">
          <tr>
            <td>
              Enjoy!
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table id="biteSubscribe">
    <tr>
      <td>

      </td>
    </tr>
  </table>
</body>
</html>