<div class="userShow">
  <div class="top">
    <div class="image">
      <%= image_tag 'lazy.jpg', 'data-original' => @user.photo, class: 'lazyLoad' %>
    </div>
    <div class="info">
      <div class="name">
        <p><%= @user.first_name %></p>
        <p><%= @user.last_name %></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="stats">
    <div class="group">
      <div class="data">
        <%= @started %>
      </div>
      <div class="label">
        Started
      </div>
    </div>
    <div class="group middle">
      <div class="data">
        <%= @sitting %>
      </div>
      <div class="label">
        Sitting
      </div>
    </div>
    <div class="group">
      <div class="data">
        <%= @complete %>
      </div>
      <div class="label">
        Complete
      </div>
    </div>
  </div>
  <div class="complete">
    <%= render partial: 'tables/complete', collection: @tables, as: :table %>
  </div>
</div>
<div class="page">
  <%= render partial: 'shared/pagination', object: @tables, as: :objects %>
</div>