<div class="completeTable link" href="<%= url_for table %>">
  <div class="image">
    <%= image_tag 'lazy.jpg', 'data-original' => table.place.photo, class: 'lazyLoad' %>
  </div>
  <div class="title">
    <div class="name">
      <p><%= table.place.name %> completed</p>
    </div>
    <div class="timestamp">
      <p>
        <%= time_ago_in_words(table.date_complete) %> ago
        with <%= pluralize(table.seats.size - 1, 'other') %>
      </p>
    </div>
  </div>
</div>