<div class="table link" id="table_<%= table.id %>" href="<%= url_for((current_user.sitting?(table) && table.ready) ? table.room : table) %>">
  <div>
    <div class="image">
      <%= image_tag 'lazy.jpg', 'data-original' => table.place.photo, class: 'lazyLoad' %>
    </div>
    <div class="title">
      <div class="name">
        <p>
          <%= table.place.name %>
        </p>
      </div>
      <div class="location">
        <p>
          <% if table.place.address && !table.place.address.empty? %>
            <%= table.place.address %>,
          <% end %>
          <%= table.place.city %>, 
          <%= table.place.state_code %>
          <%= table.place.postal_code %>
        </p>
      </div>
      <div class="startDate">
        <% if table.start_date.nil? %>
          Time and date open for discussion
        <% else %>
          <%= table.start_date.strftime('%a - %b %-d, %y at %l:%M %P') %>
        <% end %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="seats">
    <% table.seats.order('created_at ASC').each do |seat| %>
      <%= render partial: 'seats/seat', object: seat %>
    <% end %>
  </div>
  <div class="clear"></div>
  <%= render partial: 'tables/join_table', object: table, as: :table %>
</div>