<!DOCTYPE HTML>
<html lang="en">
<% if Rails.env.production? %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# abiteapp: http://ogp.me/ns/fb/abiteapp#">
<% else %>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# abiteapp_offline: http://ogp.me/ns/fb/abiteapp_offline#">
<% end %>
  <meta property="fb:app_id" content="<%= app_id %>" />
  <meta property="og:description" content="<%= @description %>" />
  <meta property="og:image" content="<%= @table.place.photo %>" />
  <meta property="og:site_name" content="Bite" />
  <meta property="og:title" content="<%= @table.place.name %>" />
  <meta property="og:type" content="<%= @type %>" />
  <meta property="og:url" content="<%= @url %>" />
  <script>
    window.location.href = "<%= @href %>";
  </script>
</head>
<body></body>
</html>