<%= content_for :right_bar_button_item do %>
  <div class="rightBarButtonItem">
    <%= render 'messages/compose' %>
  </div>
<% end %>
<div class="table_show">
  <div class="name">
    <%= @place.name %>
  </div>
  <div class="image">
    <%= image_tag 'lazy.jpg', 'data-original' => @place.photo, class: 'lazyLoad' %>
  </div>
  <div class="data">
    <div class="rating">
      <div class="yelpReviews <%= yelp_rating_to_class(@place.rating) %>"></div>
      <%= pluralize(@place.review_count, 'review') %>
    </div>
    <div class="info">
      <% if @place.address && !@place.address.empty? %>
        <p><%=@place.address %></p>
      <% end %>
      <p>
        <%= @place.city %>,
        <%= @place.state_code %>
        <%= @place.postal_code %>
      </p>
      <p><%= phone_number(@place.phone) %></p>
    </div>
  </div>
  <div class="clear"></div>
<% if @table.user == current_user %>
  <div class="startDate link" href="<%= date_table_path(@table) %>">
<% else %>
  <div class="startDate">
<% end %>
    <% if @table.start_date.nil? %>
      <%= random_start_date %>
    <% else %>
      <%= @table.start_date.strftime('%A - %b %-d, %Y at %l:%M %P') %>
    <% end %>
  </div>
  <% if !@table.complete %>
    <div class="joinTable">
      <%= render partial: 'tables/join_table', object: @table, locals: { table: @table } %>
    </div>
  <% end %>
  <div class="messages">
    <%= render 'messages/table_messages' %>
  </div>
  <div class="seats">
    <h1>
      People sitting
      <span><%= @table.seats.size %> out of <%= @table.max_seats %><span>
    </h1>
    <% @table.seats.order('created_at ASC').each do |seat| %>
      <%= render partial: 'seats/user_seat', object: seat.user, as: :user %>
    <% end %>
  </div>
  <% if !@table.complete && !current_user.already_marked_complete?(@table) %>
    <div class="leave_table">
      <%= render partial: 'tables/leave_table' %>
    </div>
  <% end %>
</div>
<div class="messageContainer">
  <%= render 'messages/form' %>
</div>