<%= content_for :head do %>
  <script>
    $(window).load(function() {
      $('html, body').animate({ scrollTop: $(document).height() + 1000 }, 0);
    })
  </script>
<% end %>
<div class="room">
  <div class="panel">
    <div class="viewTable">
      <%= link_to 'View Table', @room.table %>
    </div>
    <div class="markComplete">
      <% if current_user.already_marked_complete?(@room.table) %>
        <p>Mark Complete</p>
      <% else %>
        <%= link_to 'Mark Complete', mark_complete_table_path(@room.table) %>
      <% end %>
    </div>
  </div>
  <h1><%= @room.table.place.name %></h1>
  <div class="messages">
    <div class="users">
      <% @room.table.seats.order('created_at ASC').each do |seat| %>
        <%= render partial: 'seats/seat', object: seat %>
      <% end %>
      <div class="clear"></div>
    </div>
    <%= render @messages %>
  </div>
  <div class="messageForm">
    <%= render partial: 'messages/form' %>
  </div>
</div>