<%= content_for :head do %>
  <script>
    $(window).load(function() {
      $('html, body').animate({ scrollTop: $(document).height() + 1000 }, 0);
    })
  </script>
<% end %>
<div class="room">
  <% if current_user == @room.table.user && !current_user.already_marked_complete?(@room.table) %>
    <div class="panel">
      <div class="markComplete">
        <div href="<%= mark_complete_table_path(@room.table) %>">
          Mark Complete
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to @room.table.place.name, @room.table, class: 'placeName' %>
  <div class="messages">
    <div class="users">
      <% @room.table.seats.order('created_at ASC').each do |seat| %>
        <%= render partial: 'seats/seat', object: seat %>
      <% end %>
      <div class="clear"></div>
    </div>
    <%= render @messages %>
  </div>
  <div class="messageForm">
    <%= render partial: 'messages/form' %>
  </div>
</div>