<div class="place_result">
  <div>
    <div class="image">
      <% if place['image_url'] %>
        <%= image_tag 'lazy.jpg', 'data-original' => place['image_url'], class: 'lazyLoad' %>
      <% else %>
        <%= image_tag 'place.png' %>
      <% end %>
    </div>
    <div class="title">
      <div class="name">
        <p>
          <%= place['name'] %>
        </p>
      </div>
      <div class="rating">
        <div class="yelpReviews <%= yelp_rating_to_class(place['rating']) %>"></div>
        <p><%= pluralize(place['review_count'], 'review') %></p>
      </div>
      <div class="location">
        <p>
          <% if place['location']['address'] && !place['location']['address'].empty? %>
            <%= place['location']['address'][0] %>,
          <% end %>
          <%= place['location']['city'] %>, 
          <%= place['location']['state_code'] %>
          <%= place['location']['postal_code'] %>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="table_form">
    <%= form_tag places_path, method: :post do %>
      <%= render partial: 'places/place_fields', object: place, as: :place %>
      <div class="buttons">
        <div class="field">
          <%= text_field_tag :max_seats, '', placeholder: 'Seats', autocomplete: 'off' %>
        </div>
        <div class="seatButton" data-value="4">4</div>
        <div class="seatButton" data-value="6">6</div>
        <div class="seatButton" data-value="8">8</div>
        <div class="action">
          <%= button_tag 'Start' %>
        </div>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>